@use "src/shared/colors";
.rating-bar {
  display: flex;
  flex-direction: column;
  background-color: colors.$light-gray-magenta;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}
.star {
  height: 17px;
  width: 17px;
  margin-left: 5px;
}
.rating-text {
  color: colors.$dark-magenta;
  font-weight: 700;
}
