@use "shared/colors";
@import-normalize;

* {
  margin: 0;
  font-size: 15px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: left top, bottom right;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.main {
  margin: 10vh 10vw;
}

.ratings-area {
  display: flex;
  flex-direction: column;
  flex-basis: 150%;
  width: 100%;
  gap: 15px;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 950px) {
  .top-container,
  .reviews-section {
    flex-direction: row;
  }

  .ratings-area {
    margin-left: 10%;
  }

  @for $i from 0 through 3 {
    .rating-bar:nth-child(#{$i}) {
      flex-direction: row;
      margin-left: calc(8% * #{$i});
    }
    .review-box:nth-child(#{$i}) {
      margin-top: calc(15px * #{$i});
    }
  }
}
